@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&family=Montserrat&family=Noto+Sans+JP:wght@400;700&family=Outfit:wght@400;700&family=Sacramento&display=swap');

/* A */
* {
margin: 0;
padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    /* A */
    max-width: 360px;
    margin: auto;
}

/* A */
.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}

/* A */
.card img {
  width: 100%;
  border-radius: 17px;
}

.text {
  padding: 22px 10px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(220, 15%, 55%);
    margin-top: 10px;
}